
<article class="ed-container">

    <section class="ed-container ed-item item-contraccion">
      <div class="ed-container ed-item single-card">
  
          <div class="ed-item ">
            <h3 class="titulo">
              <picture class="titulo-imagen">
                <source media="(max-width: 650px)" srcset="./assetsssets/images/final.svg">
                  <img src="./assets/images/final.svg" alt="final con svg">
              </picture>
            </h3>
          </div>
          <div class="ed-container ed-item">
            <div class="ed-item l-25 m-50 s-100 s-block-center">
              <div class="pics">
                <img src="./assets/images/participacion-pic.svg" alt="">
              </div>
            </div>
            <div class="ed-item l-75 m-50 s-100 s-to-center s-left txt-semilight">
              <pre *ngIf="auth.userProfile$ | async as profile">
                <code>{{ profile | json }}</code>
              </pre>
            </div>
          </div>
  
      </div>
      <aside class="ed-item manchones">
        <p class="s-50 s-to-right">
          <img src="./assets/images/manchon-a.svg" alt="">
        </p>
      </aside>
    </section>
  
    <section class="ed-container ed-item item-contraccion">
      <div class="ed-container ed-item single-card">
  
        <div class="ed-item ">
          <h3 class="titulo">
            <picture class="titulo-imagen">
              <source media="(max-width: 650px)" srcset="./assets/images/listado.svg">
                <img src="./assets/images/listado.svg" alt="listado con svg">
            </picture>
          </h3>
        </div>
  
        <div class="ed-container ed-item ">
          <div class="ed-item m-center s-block-center txt-semilight">
            <p class="s-block-center">Estos son los colegios son finalistas.</p>
            <ul class="listado-participantes semi">
              <li>
                <p>Colegio Nombre Largo Largo</p>
                <p>Coach Nombre Apellido Apellido</p>
              </li>
              <li>
                <p>Colegio Nombre Largo Largo</p>
                <p>Coach Nombre Apellido Apellido</p>
              </li>
              <li>
                <p>Colegio Nombre Largo Largo</p>
                <p>Coach Nombre Apellido Apellido</p>
              </li>
              <li>
                <p>Colegio Nombre Largo Largo</p>
                <p>Coach Nombre Apellido Apellido</p>
              </li>
              <li>
                <p>Colegio Nombre Largo Largo</p>
                <p>Coach Nombre Apellido Apellido</p>
              </li>
            </ul>
          </div>
        </div>
  
      </div>
      <aside class="ed-item manchones">
        <p class="s-10 s-to-right">
          <img src="./assets/images/manchon-r.svg" alt="">
        </p>
      </aside>
    </section>
  
</article>
  
  