
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened">
        <div class="drawer-logo">
            <img src="./assets/images/borrador.svg" alt="">
        </div>
        <mat-nav-list>
            <a mat-list-item routerLink="home" routerLinkActive="active">Inicio</a>
            <a mat-list-item routerLink="convocatoria" routerLinkActive="active">Convocatoria</a>
            <a mat-list-item routerLink="semifinales" routerLinkActive="active">Semi Final</a>
            <a mat-list-item routerLink="finalistas" routerLinkActive="active">Finalistas</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>   
        <mat-toolbar color="primary" class="header-toolbar">
            <div class="toolbar-logo" >
                <button mat-button>
                <mat-icon aria-hidden="false" (click)="opened=!opened" >dehaze</mat-icon>
                </button>
            </div>
            <div class="toolbar-botonera">
                <a mat-button routerLink="home" routerLinkActive="active">Inicio</a>
                <a mat-button routerLink="convocatoria" routerLinkActive="active">Convocatoria</a>
                <a mat-button routerLink="semifinales" routerLinkActive="active">Semi Final</a>
                <a mat-button routerLink="finalistas" routerLinkActive="active">Finalistas</a>
            </div>
            <div class="toolbar-loguer">
                <a mat-stroked-button disabled>Login</a>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>