<article class="ed-container full">
    <section class="ed-item greatHeader"></section>
  </article>
  <article class="ed-container">
    <section class="ed-container ed-item item-contraccion">
      <div class="ed-item homeCard">
        <span class="homeCard--logo">
          <img src="./assets/images/ono-h-full.png" alt="">
          <span class="filete"></span>
        </span>
        <div class=" presentacion ">
          <h1 class="m-center">Esta es la Primera Olimpiada Nacional de RED Larousse.</h1>
          <p class="txt-light m-center">Una aventura de doce semanas cuyo objetivo es brindar a todos los miembros de nuestra comunidad un espacio de diversión y aprendizaje.</p>
        </div>
      </div>
      <aside class="ed-item manchones">
        <p class="s-100 m-75 s-to-right">
          <img src="./assets/images/manchon-a.svg" alt="">
        </p>
      </aside>
    </section>
  
    <section class="ed-container ed-item item-contraccion">
      <div class="ed-container ed-item single-card">
  
        <div class="ed-item ">
            <h3 class="titulo">
              <picture class="titulo-imagen">
                <source media="(max-width: 650px)" srcset="./assets/images/objetivo.svg">
                  <img src="./assets/images/objetivo.svg" alt="Objetivo con svg">
              </picture>
            </h3>
        </div>
        <div class="ed-container ed-item m-center">
          <div class="ed-item l-75 m-50 s-100 s-block-center s-to-center s-right txt-semilight">
      
              <p>Involucrar a los alumnos de la comunidad <b>RED Larousse</b> en actividades que favorezcan su desarrollo académico y social; además de motivarlos a fortalecer su vocabulario y el manejo fluido del mismo.</p>
  
          </div>
          <div class="ed-item l-25 m-50 s-100 main-center cross-center">
            <div class="pics">
              <img src="./assets/images/objetivo-pic.svg" alt="">
            </div>
          </div>
        </div>
    
      </div>
      <aside class="ed-item manchones">
        <p class="s-50 s-to-left">
          <img src="./assets/images/manchon-az.svg" alt="">
        </p>
      </aside>
    </section>
  
    <section class="ed-container ed-item item-contraccion">
      <div class="ed-container ed-item single-card">
  
          <div class="ed-item ">
            <h3 class="titulo">
              <picture class="titulo-imagen">
                <source media="(max-width: 650px)" srcset="./assets/images/participantes.svg">
                  <img src="./assets/images/participantes.svg" alt="participantes con svg">
              </picture>
            </h3>
          </div>
          <div class="ed-container ed-item ">
            <div class="ed-item l-25 m-50 s-100 s-block-center">
              <div class="pics">
                <img src="./assets/images/participacion-pic.svg" alt="">
              </div>
            </div>
            <div class="ed-item l-75 m-50 s-100 s-to-center s-left txt-semilight">
              <p>Podrán participar alumnos que estén inscritos al ciclo escolar 2019-2020 de colegios que formen parte de la comunidad RED Larousse, en las categorías intermedio y avanzado.</p>
            </div>
          </div>
  
      </div>
      <aside class="ed-item manchones">
        <p class="s-10 s-to-right">
          <img src="./assets/images/manchon-r.svg" alt="">
        </p>
      </aside>
    </section>
  
    <section class="ed-container ed-item item-contraccion">
      <div class="ed-container ed-item single-card">
  
          <div class="ed-container ed-item ">
            <div class="ed-item  s-block-center txt-semilight">
              <p>Conoce fechas, requisitos y todos los detalles en la convocatoria extendida de esta <i>Primera Olimpiada Nacional de RED Larousse</i>.</p>
            </div>
            <div class="ed-item m-center">
              <a mat-fab color="primary" routerLink="/convocatoria">
                <mat-icon>arrow_forward</mat-icon>
              </a>
               
            </div>
          </div>
  
      </div>
    </section>
  
  </article>
  