/* You can add global styles to this file, and also import other style files */

html, body { 
    margin:0px;
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* --------- 
mis estilos 
--------- */


:root {
    --main-primary-c1: #FF6450;
    --main-primary-c2: #14506E;
    --main-secondary-c1: #19BEC8;
    --main-secondary-c2: #DCE1E6;
    --main-secondary-c3: #FFAA23;
    --main-prilight-c: #FFE6E6;
    --main-font: 'Patrick Hand', cursive;
  }
.mat-sidenav-container {
    height: 100%;
}
.mat-sidenav, .mat-sidenav-content {
    padding: 15px;
}
.mat-sidenav {
    background: #fff;
    width: 200px;
}

.mat-drawer-container {
    background-color: rgba(255,255,255,0);
}
.mat-sidenav-content {
    padding: 0px !important;
}  
.mat-fab.mat-accent {
    background-color: var(--main-primary-c1);
    color: #fff;
}
.mat-toolbar.mat-primary {
    background: var(--main-primary-c2);
}
.mat-flat-button.mat-accent {
    background-color: var(--main-secondary-c3);
    color: var(--main-primary-c1);
}
.mat-menu-panel {
    background: radial-gradient(black, transparent);
    background: var(--main-secondary-c1);
}
.mat-fab.mat-primary {
    background-color: var(--main-secondary-c1);
}
.mat-stroked-button.mat-primary {
    color: var(--main-secondary-c1);
}
.mat-stroked-button.mat-accent {
    color: var(--main-primary-c1);
}
.login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.login-width {
    width: 100%;
}
.stroked-button-full {
    margin-bottom: 10px !important;
    width: 100%;
}
td.mat-cell {
    color: var(--main-secondary-c1);
}
body {
    background-color: var(--main-prilight-c);
    color:#646464;
}
table {
    width: 100%;
}
.mg-top-1 {
    margin-top: 30px;
}
.m-bottom-1 {
    margin-bottom: 40px !important;
}
.mat-table {
    background: var(--main-primary-c2);
    text-align: left;
    color: #fff !important;
}
.titulo {
    text-align: center;
    margin: 20px auto;
}
/* .titulo h2 {
    font-size: 2rem;
    display: inline;
    padding: .75rem;
    border: 3px solid rgba(255,100,80,.8);
    color: var(--main-primary-c1);
    text-shadow: 1px 1px 2px rgba(20,80,110,.8);
    background-color: #fff;
    box-shadow: inset 2px 2px 3px 0 rgba(0,0,0,0.3), 0 3px 1px -2px rgba(0,0,0,0.12), 1px 2px 5px 0 rgba(0,0,0,0.4);
}
.titulo h3 {
    font-size: 1.5rem;
    display: inline;
    padding: .5rem;
    border-bottom: 3px solid rgba(250,140,130,1);
    color: rgba(250,140,130,1);
    text-shadow: 1px 1px 2px rgba(20,80,110,.2);
} */
form.f {
    margin-bottom: 0;
}
picture.titulo-imagen {
    text-align: center;
}
picture.titulo-imagen img{
    height: 100px;
}
.active {
    color: rgba(245,165,43,.75);
}
.pics {
    text-align: center;
}
.mat-form-field + .mat-form-field {
    margin-left: 8px;
}
.header-toolbar {
    display: block;
}
.footer-toolbar {
    display: block;
    height: inherit !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.toolbar-logo {
    display: inline;
    margin-right: 20px;
}
.toolbar-logo__icon img{
    width: 30px;
    line-height: 0px;
}
.toolbar-botonera {
    display: block;
}
.toolbar-loguer {
    flex-direction: row;
    margin-left: auto;
}
.ftoolbar-creditos p{
    margin: 0;
    font-size: .75rem;
    margin-bottom: 0 !important;
    color: var( --main-secondary-c1 );
}
/* home */
.ed-container.full {
    max-width: 100%;
}
.item-contraccion {
    max-width: 90%;
    margin: auto;
    margin-bottom: 10px;
}
.greatHeader {
    background: linear-gradient(rgba(255,230,230,0.1),rgba(255,230,230,1)),url(./assets/images/home-top-bg.jpg) center 10%/cover no-repeat;
    width: 100%;
    height: 250px;
}
.presentacion {
    color: var(--main-primary-c1);
}
.presentacion h1{
    font-size: 2rem;
    margin-bottom: 50px;
    font-family: var(--main-font);
}
.txt-light {
    font-size: 1.5rem;
    color: var(--main-primary-c1);
    font-family: var(--main-font);
}
.txt-semilight {
    font-family: var(--main-font);
    font-size: 1.5rem;
    color: var(--main-primary-c2);
    margin: auto;
}
.homeCard {
    top: -80px;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    /*background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); */
}
.homeCard--logo {
    text-align: center;
    position: relative;
    top: -100px;
    display: block;
    width: 100%;
    max-width: 500px;
    margin: auto;
    border-radius: 50%;
    padding: 10px;
    /*background-color: #fff;
    border: 2px solid #DEE1E6;*/
}
.single-card {
    padding: 20px !important;
    margin-bottom: 30px;
    /*background-color: #fff;
    border:1px solid rgba(255,5,5,.15);
    border-radius: 10px;
    border-bottom: 2px double rgba(20,80,110,.25);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); */
}
.action-btn {
    cursor: inherit;
    clip-path: url(#svg-blob__clip--7113d309-a822-4880-b7f3-97d8ea5093ed);

}
.manchones {
    margin: 0;
    padding: 0;
    z-index: -10;
}
.manchones img {
    width: 100px;
    position: absolute;
}
.lista-onored {
    cursor: pointer;
}
.lista-onored li{
    list-style-type: none;
    color: #FF6450;
    margin: 20px auto;
    font-weight: bold;
}
.listado-participantes li{
    list-style-type: none;
    display: inline-block;
    /*list-style-position: inside;*/
    margin: 10px;
    max-width: 200px;
    width: 100%;
}
.listado-participantes {
    margin:0;
    padding:0;
    text-align: center;
}

.semi li p:nth-child(2n+1) {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--main-primary-c1)
}
.semi li p:nth-child(2n) {
    color: var(--main-primary-c2);
    position: relative;
}
.semi li p:nth-child(2n):before{
    content: url(./assets/images/trazo.png);
    position: absolute;
    display: block;
    top:15px;
    margin-left: calc(50% - 80px);
}
@media only screen and (max-width: 650px) {
    .toolbar-botonera {
        display: none;
    }
}

.txt-invalid {
    background: #c8dcc8;
    padding: 3px;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
    color: #789678;
}
.log-nopass {
    margin: 5px auto 10px;
    color: var(--main-secondary-c1);
    text-align: right;
}

.covid19 .mat-dialog-container {
    color: var(--main-primary-c2);
    background: rgba(255,255,255,.9);
    width: 400px;
}
.alert-nouser {
    max-width: 350px;
    margin: auto;
    text-align: center;
    color:var(--main-primary-c2)
}